body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}

.btn {
  background: #22c55e;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}
